{# {% include "foot-nav.twig" %} #}

<ul class="foot-nav">
	<li class="{{ lnk_active_6 }}"><a href=".html">Title_link</a></li>
	<li class="{{ lnk_active_7 }}"><a href=".html">Title_link</a></li>
	<li class="{{ lnk_active_8 }}"><a href=".html">Title_link</a></li>
	<li class="{{ lnk_active_9 }}"><a href=".html">Title_link</a></li>
	<li class="{{ lnk_active_10 }}"><a href=".html">Title_link</a></li>
</ul>